<div class="home">

    <div class="chat-container">
        <header class="chat-header">
            <h2>🤖 AI Assistant</h2>
        </header>

        <main class="chat-history" #chatContainer>
            @for (chat of chatHistory(); track $index) {

            <div class="messages user-message">
                <div class="bubble user" #message>
                    🧑<strong> User:</strong>
                    <div>{{ chat.user }}</div>
                </div>
            </div>
            <div class="messages ai-message">
                <div class="bubble ai" #message dir="auto">
                    <!-- <strong>🤖 AI:</strong> {{ chat.bot }} -->
                    <strong>🤖 AI: </strong>
                    <div [innerHTML]="formatAIResponse(chat.bot)"></div>
                </div>
            </div>
            }


            @if(isLoading()){
            <app-skeleton></app-skeleton>
            }

            @if ((errorMessage())) {
            <div class="error-msg">
                ⚠️ {{errorMessage()}}
            </div>
            }

        </main>

        <footer>
            <form [formGroup]="formInput" (ngSubmit)="sendQuery()" class="chat-input">
                <input type="text" formControlName="userInput" id="message-input" placeholder="הכנס שאלה...">
                <button class="send-button" [disabled]="isLoading()" type="submit">שלח</button>
            </form>
        </footer>
    </div>

</div>